
PCA in Fashion MNIST/data/FashionMNIST/raw/t10k-images-idx3-ubyte
*.gz
PCA in Fashion MNIST/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
PCA in Fashion MNIST/data/FashionMNIST/raw/train-images-idx3-ubyte
PCA in Fashion MNIST/data/FashionMNIST/raw/train-labels-idx1-ubyte
.ipynb_checkpoints/README-checkpoint.md
PCA in Fashion MNIST/.ipynb_checkpoints/Readme-checkpoint.md
Credit Score classification using decision tree/.ipynb_checkpoints/1-checkpoint.py
Data_scraping/News scraping on ekantipur/.ipynb_checkpoints/categories-checkpoint.json
Data_scraping/News scraping on ekantipur/.ipynb_checkpoints/scrape_data-checkpoint.ipynb
Naive Bayes-Nepali Text Classification/.ipynb_checkpoints/main-checkpoint.ipynb
Naive Bayes-Nepali Text Classification/.ipynb_checkpoints/output-checkpoint.csv
Naive Bayes-Nepali Text Classification/.ipynb_checkpoints/scrape_data-checkpoint.ipynb
KNNs-Stellar classification/.ipynb_checkpoints/dist_in_higher_dim-checkpoint.ipynb
KNNs-Stellar classification/.ipynb_checkpoints/KNN-checkpoint.ipynb
